Repository Armor-test/auth-service-692, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/unit-governance, @Armor-test/squad-search, @Armor-test/grp-search, @Armor-test/dept-security, @Armor-test/grp-reporting, @Armor-test/dept-data, @Armor-test/unit-cloud, @Armor-test/dept-release, @Armor-test/grp-storage, @Armor-test/grp-api, @Armor-test/unit-design, @Armor-test/squad-cloud, @Armor-test/squad-api, @Armor-test/team-security, @Armor-test/dept-notifications, @Armor-test/team-logging, @Armor-test/team-reporting, @Armor-test/unit-test, @Armor-test/squad-payments, @Armor-test/squad-ux, @Armor-test/dept-automation, @Armor-test/grp-ui, @Armor-test/squad-database, @Armor-test/squad-frontend, @Armor-test/team-notifications, @Armor-test/squad-performance, @Armor-test/squad-mobile, @Armor-test/squad-tooling, @Armor-test/team-core, @Armor-test/squad-cache, @Armor-test/team-governance, @Armor-test/team-research, @Armor-test/unit-devops, @Armor-test/security, @Armor-test/auth-team, @Armor-test/dependency-team, @Armor-test/devops, @Armor-test/infra, @Armor-test/grp-payments

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/unit-governance, @Armor-test/squad-search, @Armor-test/grp-search

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-security, @Armor-test/grp-reporting

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/unit-governance, @Armor-test/squad-search, @Armor-test/grp-search

Add src/main.py
  src/main.py
Owners: @Armor-test/unit-governance, @Armor-test/squad-search, @Armor-test/grp-search

Add src/index.js
  src/index.js
Owners: @Armor-test/team-governance, @Armor-test/squad-performance

.github/CODEOWNERS:

# CODEOWNERS file for auth-service-692
# Global owners - will be requested for all PRs
* @Armor-test/unit-governance @Armor-test/squad-search @Armor-test/grp-search

# Directory ownership
/docs/ @Armor-test/dept-security @Armor-test/grp-reporting
/modules/ @Armor-test/dept-data @Armor-test/unit-cloud @Armor-test/dept-release
/dist/ @Armor-test/grp-storage @Armor-test/grp-api
/extensions/ @Armor-test/unit-design @Armor-test/squad-cloud @Armor-test/squad-api
/common/ @Armor-test/team-security @Armor-test/unit-design
/public/ @Armor-test/dept-notifications @Armor-test/team-logging
/shared/ @Armor-test/team-reporting @Armor-test/grp-search
/examples/ @Armor-test/unit-test @Armor-test/squad-payments @Armor-test/squad-ux
/deploy/ @Armor-test/dept-automation @Armor-test/grp-ui
/migrations/ @Armor-test/squad-database @Armor-test/squad-frontend

# File type ownership
*.md @Armor-test/unit-design @Armor-test/team-notifications @Armor-test/squad-performance
*.cs @Armor-test/unit-cloud @Armor-test/team-reporting
*.xml @Armor-test/grp-api @Armor-test/squad-mobile
*.sql @Armor-test/squad-tooling @Armor-test/grp-reporting
*.scala @Armor-test/dept-notifications @Armor-test/team-core
*.rs @Armor-test/unit-cloud @Armor-test/squad-cache
*.jsx @Armor-test/grp-search @Armor-test/team-logging
*.js @Armor-test/team-governance @Armor-test/squad-performance
*.tsx @Armor-test/unit-cloud @Armor-test/team-research @Armor-test/team-core
*.java @Armor-test/grp-api @Armor-test/unit-devops

# Security and special files
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
package.json @Armor-test/dependency-team @Armor-test/security
Dockerfile @Armor-test/devops @Armor-test/infra

# Additional ownership rules
*.custom0 @Armor-test/grp-payments @Armor-test/unit-devops
